/* general */

body {
    background-color: rgb(248, 241, 233);
    font-family: sans-serif;
    margin: -16px;
}

header {
    width: 1200px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-bottom: 2px solid #0b3533;
}

.section-inicio {
    width: 1200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    width: 1200px;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #0b3533;
    justify-content: space-between;
}

.seccion-redes {
    display: flex;
    align-items: center;
    width: auto;
    height: 60px;
    border-left: 2px solid #0b3533;
    margin: 10px;
}

.seccion-redes img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.seccion-datos-contacto {
    width: 200px;
    height: 60px;
    font-size: 10px;
    margin-bottom: 18px;
    margin-right: -5px;
    margin-left: auto;
}



.horario {
    font-weight: bold;
    font-size: 13px;
    align-self: flex-end;
    margin-bottom: 5px;
    margin-left: -80px;
    justify-self: flex-start;
}

.nombre-footer {
    font-weight: bold;
    margin-left: 180px;
}

.seccion-titulo {
    width: 1200px;
    height: 40px;
    background-color: #FF5F40;
    text-align: center;
    font-weight: bold;
}

.logo {
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.links a {
    border-radius: 10px;
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.links a:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.24);
}





/* index - Página 1 - Home */

.ofertas {
    height: 20%;
    background-color: #6ebfb644;
    display: flex;
    border-radius: 5px;
}

.ofertas-titulo {
    color: rgb(50, 68, 68);
    font-size: 25px;
    font-weight: bold;
    margin-left: 8px;
    background-color: #ffffff;
}

.productos-en-oferta {
    width: 1200px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productos-en-oferta img {
    width: auto;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
}

.productos-en-oferta img:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.24);
}

.quienes-somos {
    width: 100%;
    height: 300px;
    background-color: #6ebfb644;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quienes-somos img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    margin: 20px;
}

.historia p {
    text-align: center;
    color: rgb(50, 68, 68);
    font-size: 30px;
    font-weight: bold;

}

.box-informacion {
    width: 800px;
    height: 250px;
}

.box-informacion p {
    font-size: 17px;
    text-indent: 30px;
    text-align: justify;
    margin-left: 20px;
    margin-top: 10px;

}








/* comprar - Página 2 */

.section-general {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.seccion-de-compra {
    width: 1200px;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #6ebfb644;
    display: flex;
    justify-content: space-evenly;
}

.select-categorias {
    width: 200px;
    height: auto;
    background-color: #ffffff;
}

.select-categorias p  {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #0b3533;
    text-align: center;
}

.categoria-productos {
    width: 180px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #0b3533;
    border-color: #0b3533;
    margin-left: 10px;
    cursor: pointer;
}

.categoria-productos:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.24);
}


.seccion-categoria-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 920px;
    height: auto;
}

.seccion-productos {
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categoria{
    width: 900px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #0b3533;
    border-bottom: 2px solid #000000;
}

.contenedor-seccion {
    width: 200px;
    height: auto;
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contenedor-seccion:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);

}


.imagen-producto {
    width: 150px;
    height: 150px;
}

.descripcion-producto {
    color: #2b2a2a;
    width: 180px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-top: 2px solid #0b3533 ;
    border-bottom: 2px solid #0b3533 ;
}

.precio-producto {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

.input-cantidad {
    width: 100px;
    height: 20px;
    border-radius: 8px;
    text-align: center;
    border:1px solid #0b3533;
    margin-left: 8px;
}

.stock-producto {
    width: 50px;
    font-size: 12px;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.stock-cantidad {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -15px;
    width: 15px;
    border: none;
    color: black;
}

.btn-agregar {
    width: 150px;
    height: 30px;
    border-radius: 8px;
    margin: 20px;
    font-weight: bold;
    color: #000000;
    background-color: #f09c8b;
    border: none;
    cursor:pointer;
}

.btn-agregar:hover {
    background-color: #f09c8bdc;

}

.btn-ir-comprar {
    background-color: #ffffff;
    margin: 20px;
    width: 220px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #0b3533;
    border-radius: 10px;
    border: none;
    cursor:pointer;
}

.btn-ir-comprar:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.24);
}

.seccion-de-factura {
    width: 1200px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    background-color: #6ebfb644;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.aviso {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}


.factura {
    width: 400px;
    height: auto;
    background-color: white;
    color: #0b3533;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
}

.seccion-titulo-factura h1 {
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 2px solid #0b3533;
}

.producto-en-factura {
    text-align: justify;
    margin-left: 20px;  
}

.total-precio {
    margin-right: 20px;
    margin-left: 20px;
    text-align: end;
    font-weight: bold;
    border-top: 2px solid #0b3533;
}

.btn-comprar {
    background-color: #f09c8b;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-comprar:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.24);
}

.seccion-agradecimiento {
    width: 500px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: white;
    justify-self: center;
    margin-left: 350px;
    margin-top: 10px;   
    margin-bottom: 320px;
    padding-top: 1px;
}

.select-metodo-de-pago {
    width: 180px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #0b3533;
    border-color: #0b3533;
    cursor: pointer;
}

.seccion-metodo-pago {
    width: auto;
    height: auto;
}

.pago-credito-debito {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.input-1 {
    width: 300px;
    height:40px;
    margin: 10px;
    border-radius: 15px;
    border:2px solid black;
}

.input-2 {
    width: 135px;
    height:40px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    border:2px solid black;
}

.texto-input {
    width: 300px;
    margin-top: -5px;
    margin-bottom: -10px;
    text-align: start;
    margin-left: 18px;
    font-size: 12px;
    color:gray;

}








/* contacto - Página 3 */

.section-contacto {
    width: 1200px;
    height: 520px;
    display: flex;
    justify-content: center;
    background-color: #6ebfb644;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.formulario {
    width: 300px;
    height: auto;
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.formulario h1 {
    border-radius: 5px;
    color: #0b3533;
    width: 300px;
    margin: auto;
    text-align: center;
}

.texto-de-formulario {
    text-align: center;
}

.texto-de-formulario p {
    text-align: center;
    font-size: 15px;
}

.texto-de-formulario input {
    width: 250px;
    border: 2px solid #0b3533;
    border-radius: 5px;
}

.texto-de-formulario button {
    background-color: #f09c8b;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    border-radius: 10px;
    border: none;
    cursor:pointer;
}

.btn-enviar:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.24);
}




/*general*/

.ocultar {
    display: none;
}
